p {
  color: #28356E
}

body {
  font-family: 'Katibeh', 'Arial', 'sans-serif';
  display: flex;
  flex-direction: column;
}

* {
  margin: 0vw;
  padding: 0vw;
  border: none;
}

/*
handles the top bar: name, song time, song name, and artist name
*/
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0vw;
  margin-top: 0vw;
  margin-right: 5vw;
  margin-left: 5vw;
  font-size: 1.5rem;
  border-bottom: 1px solid #28356E;
}

h1{ 
  color: #28356E;
  font-size: 3rem;
  letter-spacing: .1rem;
}

/*
handles all the div collumns in the dashboard.
*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1vw;
}

/*
classes of the different collumns in the dashboard.
*/
.blocks {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  margin-top: 5vw;
  max-height: 75vh;
  min-height: 50vh;
}

/*
collumns
*/

#sidebar {
  align-items: center;
  min-width: 3vw;
  border: 1px solid #28356E;
  border-radius: 4.8vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  gap: 6.5rem;

}

#stats {
  min-width: 30vw;
  margin-left: -5vw;
  margin-right: -6vw;
}

/*
stat intricates
*/

.welcome {
  display: flex;
  border: 1px solid #28356E;
  min-height: 20vh;
  margin-top: 2vw;
  font-size: 2rem;
  padding: 2vw;
}

.money-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.25rem;
}

/*
money stats intricates
*/

.networth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}

.total-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}

.amount {
  border: 1px solid #28356E;
  padding: 0.5vw;
  border-radius: 2vw;
  padding: 2vw;
}

.credit-limit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

#weekly-summary {
  min-width: 20vw;
  margin-right: -6vw;
  font-size: 1.25rem;
  overflow-y: scroll;
}

/*
  Weekly summary intricates
*/

.weekdays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 1vw; 
  margin-bottom: 1vw;
}

.transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #28356E;
  border-radius: 5vw;
  padding: 1vw;
  width: 80%;
  margin: 2%;
}

#accounts-subscriptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 15vw;
  font-size: 1.25rem;
}

/*
accounts and subscriptions intricates
*/

.title {
  display: flex;
  font-size: 1.5rem;
  margin-top: 1vw;
}

/*
accounts intricates
*/

.account-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account {
  border: 1px solid #28356E;
  border-radius: 2vw;
  padding: 1vw;
  margin-top: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

/*
  subscriptions intricates
*/
.subscription-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription {
  border: 1px solid #28356E;
  border-radius: 2vw;
  padding: 1vw;
  margin-top: 1vw;
  padding-left: 4vw;
  padding-right: 4vw;
}
